.home {
    height: 100vh;
    display: grid;
    grid-template-rows: minmax(500px, 1fr) 70px;

    &__top {
        .carousel {
            height: 100%;

            .carousel-inner {
                height: 100%;

                .carousel-item {
                    height: 100%;
                }
            }
        }
    }
}