.slick-slide {
  .slide {
    height: 100%;
    position: relative;
    padding: 160px 0 100px 0;

    @media #{$md} {
      padding: 200px 0 120px 0;
    }

    @media #{$xl} {
      padding: 200px 0;
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: $c4;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.4);
        transform: scale(1.2);
        transition: transform $e4;
        will-change: transform;
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      color: $c1;
      height: 100%;

      h1 {
        margin-bottom: 1rem;
        letter-spacing: 2.4px;
        @include main-text(98px, 104px, "header", 700, false, true);
      }

      p {
        max-width: 700px;
        width: 100%;
        letter-spacing: 0.23px;
        position: relative;
        @include main-text(32px, 44px, "header", 400, true, true);
        margin-top: 1rem;
      }

      .link {
        margin-top: 1rem;
        display: inline-block;
        background-color: $c1;
        color: #000;
        padding: 1.2rem 1.5rem;
        text-decoration: none !important;
        letter-spacing: 0.3px;
        line-height: 100%;
        font-weight: 500;
        @include default-animation("");

        @media #{$xl} {
          margin-top: 3rem;
        }
      }
    }
  }
  &.slick-active {
    .slide {
      &__img {
        img {
          transition-delay: 0.6s;
          transform: scale(1);
        }
      }
    }
  }
}
